<%= simple_form_for(post) do |form| %>

  <div class="field">
    <%= form.label :post, 'Enter your message' %>
    <%= form.text_area :post %>
  </div>

  <div class="actions">
    <%= form.button :submit, 'Submit Post' %>
  </div>
<% end %>
